nav ul li{
    display: inline-block;
    background-color: burlywood;
    padding: 10px 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    margin: 0px 10px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}