div{
    border: 10px solid green;
    padding: 10px;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.com-border-box{
    background-color: lightblue;
    box-sizing: border-box;
}

.sem-border-box{
    background-color: lightcoral;
}