body {
  /* margin: 0;
  width: 100px; */
  overflow-x: hidden;
}

.primeiro-elemento {
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
}

.segundo-elemento {
  width: 100%;
  background-color: lightgreen;
}
